form {
    border: 1px solid #545454;
    background-color: rgb(167, 206, 207);
    border-radius: 10px;
    padding: 20px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#results {
    border: 1px solid #545454;
    background-color: rgb(167, 206, 207);
    border-radius: 10px;
    padding: 20px;
}

.attribution {
    text-align: center;
}